<div class="container" >
<h1>URL list</h1>
  <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"btn btn-warning" %>

<table class="table table-responsive">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Creator</th>
    <th scope="col">Description</th>
    <th scope="col">Shorten url</th>
    <th scope="col">Original url</th>
    <th scope="col">View count</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.id %></td>
      <td><%= url.user.email %></td>
      <td><%= url.description %></td>
      <td><%= link_to "#{@domain}/#{url.short_url}", "#{@domain}/#{url.short_url}", target: :_self%></td>
      <td><%= url.long_url %></td>
      <td><%= url.count %></td>
      <td>
        <%= link_to "edit", edit_url_path({:id=> url, :page=>@page}), class:"btn btn-primary btn-sm" if url.user == current_user %>
        <%= link_to "show", url_path(url), class:"btn btn-warning btn-sm" %>
        <%= form_for url, url: url_path(url), method: :delete do |f| %>
          <%= f.submit 'delete', class:"btn btn-danger btn-sm"%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @urls , style: "display: inline;"%>
  <%= link_to 'New', new_url_path, class:"btn btn-success"%>