<h1>URL list</h1>
<% @urls.each do |url| %>
  <ul>
    <li>id:<%= url.id %></li>
    <li>Creator: <%= url.user.email %></li>
    <li>Click count: <%= url.count %></li>
    <li>Shorten URL: <%= link_to "#{@domain}/#{url.short_url}", "#{@domain}/#{url.short_url}", target: :_self%></li>
    <li>Original URL: <%= url.long_url %></li>
    <li><%= link_to "show this Url", url_path(url) %></li>
      <%= form_for url, url: url_path(url), method: :delete do |f| %>
        <%= f.submit 'delete'%>
      <% end %>
  </ul>
<% end %>

<%= link_to 'New', new_url_path %>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>